p {
    font-family: Lato;
  }
  
  h2 {
    color: #ffffff;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    border: 2px solid rgb(121, 117, 117);
    padding: 10px;
    text-align: left;
  }
  td{
    color: white;
  }

  th{
    color: rgb(255, 255, 255);
  }
  
  th {
    background-color: #8555d1;
  }
  
  tr:hover {
    background-color: #6c5cb4;
  }
  
    