<style>
  body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  
    background-color: #747264;
    color: #747264 ;

    margin-left: 3%;
    margin-right: 3%;
  }
  
  div {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
  color: #333;
  }
  
  p {
  margin: 8px 0;
  }
  
  pre {
  white-space: pre-wrap;
  margin: 0;
  }
  
  hr {
  border: 1px solid #ddd;
  margin: 10px 0;
  }
  </style>
  
  <body>
  
  <div>
  <h2>Text Format Pipe</h2>
  <p>Hi my name is {{name | uppercase}}</p>
  <p>Date with uppercase: {{presentDate | date: 'fullDate' | uppercase}}</p>
  <p>Date with lowercase: {{presentDate | date: 'medium' | lowercase}}</p>
  <hr>
  </div>
  
  <div>
  <h2>Date Pipe</h2>
  <p>Short date: {{presentDate | date: 'shortDate'}}</p>
  <p>Full date: {{presentDate | date: 'fullDate'}}</p>
  <p>Formatted date: {{presentDate | date: 'M/dd/yyyy'}}</p>
  <p>Hours and minutes: {{presentDate | date: 'h:mm'}}</p>

  <hr>
  </div>
  
  <div>
  <h2>Currency Pipe</h2>
  <p>{{price | currency: '':true}}</p>
  <p>{{price | currency: 'INR' }}</p>
  <p>{{price | currency:'EUR':'symbol':'3.2-2'}}</p>
  <hr>
  </div>
  
  <div>
  <h2>Decimal Pipe</h2>
  <p>{{decimalNum1 | number}}</p>
  <p>{{decimalNum2 | number}}</p>
  <p>{{decimalNum3 | number}}</p>
  <hr>
  </div>
  
  <div>
  <h2>Json Pipe</h2>
  <p>Without JSON pipe:</p>
  <pre>{{ object }}</pre>
  <p>With JSON pipe:</p>
  <pre>{{ object | json }}</pre> <hr>
  <pre>{{ sup | json }}</pre> <hr>
  <pre>{{ wuzza | json }}</pre>
  <hr>
  </div>
  
  <div>
  <h2>Percent Pipe</h2>
  <p>{{a | percent}}</p>
  <p>{{b | percent: '4.5-5'}}</p>
  <p>{{c | percent: '1.0-2'}}</p>
  <hr>
  </div>
  
  <div>
  <h2>Slice Pipe</h2>
  <h3>Start index: {{Fruits | slice:2}}</h3>
  <h4>Start and end index: {{Fruits | slice:1:4}}</h4>
  <h5>Negative index: {{Fruits | slice:-2}}</h5>
  <h6>Negative start and end index: {{Fruits | slice:-4:-2}}</h6>
  <hr>
  </div>
  
  </body>